<table id="dttb" class="table table-hover table-bordered" cellspacing="0" width="100%">
  <thead class="thead-dark">
    <tr>
      <th>Número</th>
      <th>Sitio</th>
    </tr>
    </thead>
    <tbody>
      <% @bookshelves.each do |bookshelf| %>
      <tr>
        <td><%= bookshelf.number %>
        </td>
        <td><%= bookshelf.side %>
        </td>
      </tr>
      <% end %>
    </tbody>
</table>
<% if current_user.admin %>
  <%= link_to 'Nuevo', new_bookshelf_path, class: "btn btn-lg btn-dark" %>
<% end %>