<table id="dttb" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Number</th>
      <th>Side</th>
    </tr>
    </thead>
    <tbody>
      <% @bookshelves.each do |bookshelf| %>
      <tr>
        <td><%= bookshelf.number %>
        </td>
        <td><%= bookshelf.side %>
        </td>
      </tr>
      <% end %>
    </tbody>
</table>
<% if current_user.admin %>
  <%= link_to 'New', new_bookshelf_path %>
<% end %>