<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Para que puedas poner la contraseña</p>
    <p>Accede a la siguiente liga e introduce el codigo y ese churro </p>
    <p>Codigo: tonto</p>
    </body>
</html>