<%= bootstrap_form_for @user, url: create_user_path do |f| %>
<% if @user.errors.any? %>
    <h2>Some things you can fix!</h2>
    <ul>
        <% @user.errors.full_messages do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>
<%= f.text_field :email, class: "form-control-lg" %>
<%= f.submit "Crear", class: "button" %>
<% end %>