
  <% @publishers.each do |publisher| %>
    <p><%= publisher.name %> <%= publisher.city %>
      <%= link_to 'Details', publisher_path(publisher) %></p>
    <% end %>
  <% if current_user.admin %>
    <%= link_to 'New', new_publisher_path%>
  <% end %>
