    <!-- ====== START FOOTER ======  -->
    <div class="main-menu line">
    </div>
    <section class="footer">
        
        <div class="container">
            <div class="row">

                <!-- START MOROX -->
                <div class="col-lg-4 col-md-6 mb-sm-5">
                    <!-- FOOTER LOGO -->
                    <a class="navbar-brand" href="#home">
                        <img src="https://img.icons8.com/bubbles/2x/library.png" alt="header-Logo" class="logo"></a>
                    <h2 class="heading-tertiary mb-3">Biblioteca Virtual UPSLP</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit ad mollitia est obcaecati,
                        aspernatur, at, sequi esse repudiandae corporis optio expedita fugit.</p>
                </div>
                <!-- END MOROX -->

                <!-- START QUICK LINKS -->
                <div class="col-lg-4 col-md-6 mb-sm-5">
                    <h3 class="heading-tertiary mb-3">Accesos Externos</h3>
                    <ul>
                        
                            <li><i class="fa fa-angle-right"></i>
                                <a href="#0">Acerca de la UPSLP</a>
                            </li>
                            <li><i class="fa fa-angle-right"></i>
                                <a href="#0">Conócenos</a>
                            </li>
                            <li><i class="fa fa-angle-right"></i>
                                <a href="#0">Oferta Educativa</a>
                            </li>
                            <li><i class="fa fa-angle-right"></i>
                                <a href="#0">Egresados</a>
                            </li>
                            <li><i class="fa fa-angle-right"></i>
                                <a href="#0">Bolsa de trabajo</a>
                            </li>
                    </ul>
                </div>
                <!-- END QUICK LINKS -->


                <!-- START RECENT BLOG -->
                <div class="col-lg-4 col-md-6 mb-sm-5">
                    <h3 class="heading-tertiary mb-4">Plataformas en Línea</h3>
                    <div class="recent-blog-list">
                        <ul>
                            <li>
                                <div class="media-body mb-4">
                                    <h4 class="heading-secondary">Blackboard UPSLP</h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                                </div>
                            </li>
                            <li>
                                <div class="media-body">
                                    <h4 class="heading-secondary">Self-Service UPSLP
                                    </h4>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END RECENT BLOG -->
            </div>
        </div>
    </section>
    <!-- ====== END FOOTER ======  -->
    <!-- ====== START FOOTER BOTTOM======  -->
    <section class="footer-bottom">
        <div class="container">
            <div class="row">

                <div class="offset-md-3 col-md-6 offset-md-3">

                    <!-- START SOCIAL ICONS -->
                    <div class="social-links">
                        <ul>
                            <li><a href="#0"><i class="fa fa-facebook fa-fw"></i></a></li>
                            <li><a href="#0"><i class="fa fa-twitter fa-fw"></i></a></li>
                            <li><a href="#0"><i class="fa fa-linkedin fa-fw"></i></a></li>
                            <li><a href="#0"><i class="fa fa-pinterest-p fa-fw"></i></a></li>
                            <li><a href="#0"><i class="fa fa-instagram fa-fw"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ====== END FOOTER BOTTOM======  -->