<div class="modal fade author" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Autor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for Author.new do |f| %>
          <%= f.text_field :name, class: "form-control-lg", label: "Nombre" %>
          <%= f.text_field :last_name, class: "form-control-lg", label: "Apellido" %>
          <div class="modal-footer">
          <%= f.submit "Agregar", class: "button" , data: { disable_with: false }%>
          </div>
        <% end %>
      </div>   
    </div>
  </div>
</div>